.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 200px;
}


.nav-items > ul {
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.search{
    padding: 10px;
}
.restuarant-container{
    display: flex;
    flex-wrap: wrap;
}
.restuarant-card{
    margin: 5px;
    padding: 5px;
    width: 200px;
    word-wrap: break-word;
}

.restuarant-card:hover{
    cursor: pointer;
    border: 1px solid black;
}

.restuarant-logo{
    width: 100%;
}